<!DOCTYPE html>
<html>
<head>
  <title>Web Page Example</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../vendor/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="user-list.html">Users</a></li>
            <li><a href="roles-list.html">Roles</a></li>
            <li><a href="companies-list.html">Companies</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <h1>Roles Page</h1>
    <img src="">
    <script type="text/javascript" src="../vendor/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../vendor/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/main.js"></script>
</body>
</html>
